@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    min-height: 100vh;

    background: linear-gradient(45deg, #feca57, #3498db, #00ff99, #00ffff);
    background-size: 400% 400%;
    animation: fundoNeon 15s ease infinite;
}

@keyframes fundoNeon {
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}

.titulo {
    font-family: 'Passion One', cursive;
    width: 100%;
    color: #f1c40f;
    font-size: 52px;
    text-align: center;
    margin-bottom: 10px;
    display: block;

    text-shadow: 0 0 10px rgba(255,255,255,0.6);

    animation: brilho 2s infinite alternate, subirDescer 2s infinite ease-in-out;
}

@keyframes brilho {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #74b9ff;
    }
    to {
        text-shadow: 0 0 15px #fff, 0 0 25px #55efc4;
    }
}

@keyframes subirDescer {
    0% {transform: translateY(0px); }
    100% {transform: translateY(-5px);}
}

.modo-jogo {
    background: #ffeaa7;
    padding: 8px 15px;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 0 #fdcb6e;
}

.modo-jogo select {
    padding: 5px 8px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Container central */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
}

/* Pergunta */
#pergunta {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Caixa de resposta */
.resposta-box {
    background: #f6e7c1;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.resposta-box input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    font-size: 16px;
}

.resposta-box button {
    background: #2ecc71;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Placar */
.placar {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.ponto {
    background: #f6e7c1;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
}

/* Tabuleiro */
#tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

/* Células */
.celula {
    width: 90px;
    height: 90px;
    background: #f1c40f;
    border: none;
    border-radius: 20px;
    font-size: 32px;
    cursor: pointer;

    /* efeito 3D */
    box-shadow: 0 6px 0 #d4ac0d;
    transition: 0.2s;
}

.celula:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #d4ac0d;
}

/* X e O */
.celula.X {
    color: #e74c3c;
}

.celula.O {
    color: #8e44ad;
}

/* Seleção */
.selecionada {
    outline: 3px solid white;
}

/* Mensagem */
#mensagem {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #e74c3c;
    text-align: center;
}

.botoes-controle {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.botao-controle {
    background: #ffeaa7;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 0 #fdcb6e;
    transition: 0.2s;
}
.botao-controle:hover {
    background: #d4ac0d;
}